<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="mat-elevation-z10" mode="side">

  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar color="#3f51b5">
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span style="margin-left: 1em;justify-content: center;">SS</span>
      <span class="flexExpand"></span>
      <img src="/assets/img/anime3.png" alt="image" style="height: 2em;width: 2em;float: right;border-radius: 20px;">
    </mat-toolbar>

  </mat-sidenav-content>
</mat-sidenav-container>

